<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>[MDM Project] - Spring Boot Demo</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<h1>MDM Project</h1>
			</div>
			<!--<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Download</a></li>
					<li><a href="#about">Others</a></li>
				</ul>
			</div>-->
		</div>
	</nav>

	<div class="container">

		<div class="starter-template">
			<h2>Download Demo</h2>
			<h3>Using Spring Boot Framework</h3>
			<a href="/download-file/template" class="btn btn-info" role="button">Download-File-Template</a>
			<a href="/download-file/user/1" class="btn btn-info" role="button">Download-File-1</a>
		</div>

	</div>
	<!-- /.container -->

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>